.artist-header{
    position: relative;
}
.artist-header h1{
    position: absolute;
    top: 40%;
    left: 50%;
    border: 3px solid white;
    background: rgba(0,0,0,0);
    padding: 5px;
    transform-origin: center center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transition: background 1s ease-in;
}
.artist-header:hover > h1{
    background: rgba(0,0,0,.5);
    
}